.banner {
  min-height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black-100;
    opacity: 0.6;
    mix-blend-mode: hard-light;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .banner-info {
    .banner-title {
      color: $white;
      font-weight: 600;
      letter-spacing: -2px;
    }
    .description {
      color: $white;
      padding-top: 30px;
      p {
        letter-spacing: -0.4px;
      }
    }
    .btn-wrap {
      padding-top: 20px;
    }
  }
  &.hero-banner {
    padding: get-vw(180px, 344px) 0 get-vw(70px, 102px);
    .banner-img-wrap {
      padding-right: get-vw(15px, 42px);
      @include breakpoint(max, $media-md) {
        padding-top: 30px;
      }
      .banner-img {
        display: inline-block;
        position: relative;
        @include breakpoint(max, $media-md) {
          width: 100%;
          img {
            width: 100%;
          }
        }
        img {
          @extend .brd-155;
        }
        &::after {
          content: "";
          position: absolute;
          top: -21px;
          left: 21px;
          right: -21px;
          bottom: 21px;
          border: 3px solid rgba($white, 0.2);
          @extend .brd-155;
        }
      }
    }
  }
}
