.faq-wrap {
  .accordion {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    .accordion-item {
      overflow: hidden;
      border: 1px solid $primary;
      border-radius: 8px 8px 0 0;
      .accordion-header {
        width: 100%;
        button {
          position: relative;
          border: 0;
          background: $primary;
          width: 100%;
          text-align: left;
          font-size: 20px;
          line-height: 1.3;
          font-weight: 600;
          color: $white;
          padding: 22px get-vw(60px, 90px) 22px 32px;
          .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 22px;
            right: get-vw(20px, 40px);
            background: $white;
            border-radius: 100px;
            transition: all 0.3s ease-in-out;
            &::after,
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 16px;
              height: 3px;
              border-radius: 4px;
              background: $primary;
              transition: all 0.3s ease-in-out;
            }
          }
          &:not(.collapsed) {
            color: $secondary;
            background: $primary-400;
            .icon {
              background: $primary;
              &::after,
              &::before {
                background: $white;
              }
            }
          }
          &.collapsed {
            .icon {
              &::after {
                transform: rotate(90deg);
              }
            }
          }
        }
      }
      .accordion-body {
        padding: 7px 32px 30px;
        background: $primary-400;
        p {
          color: $secondary;
        }
      }
    }
  }
}
