@import "./style/fonts";
@import "./style/variables";
// @import "./style/bs-variables";

@import "./style/base";
@import "./style/lenis";
@import "./style/title";
@import "./style/buttons";

@import "./style/component/header";
@import "./style/component/footer";
body {
  background: red;
}
