.pt-140 {
  padding-top: get-vw(40px, 140px);
}
.pt-140 {
  padding-bottom: get-vw(40px, 140px);
}

.pt-170 {
  padding-top: get-vw(40px, 170px);
}
.pb-170 {
  padding-bottom: get-vw(40px, 170px);
}

.pt-160 {
  padding-top: get-vw(35px, 150px);
}
.pb-160 {
  padding-bottom: get-vw(35px, 150px);
}

// .pt-135 {
//   padding-top: get-vw(35px, 135px);
// }
// .pb-135 {
//   padding-bottom: get-vw(35px, 135px);
// }

.pt-120 {
  padding-top: get-vw(35px, 120px);
}
.pb-120 {
  padding-bottom: get-vw(35px, 120px);
}

.pt-100 {
  padding-top: get-vw(35px, 100px);
}
.pb-100 {
  padding-bottom: get-vw(35px, 100px);
}

.pt-80 {
  padding-top: get-vw(30px, 80px);
}
.pb-80 {
  padding-bottom: get-vw(30px, 75px);
}

.pt-75 {
  padding-top: get-vw(30px, 75px);
}
.pb-75 {
  padding-bottom: get-vw(30px, 75px);
}

.pt-40 {
  padding-top: get-vw(25px, 40px);
}
.pb-40 {
  padding-bottom: get-vw(25px, 40px);
}

.pt-50 {
  padding-top: get-vw(30px, 50px);
}
.pb-50 {
  padding-bottom: get-vw(30px, 50px);
}

.pt-30 {
  padding-top: get-vw(25px, 30px);
}
.pb-30 {
  padding-bottom: get-vw(25px, 30px);
}

.gap-x-30 {
  row-gap: 30px;
}

// .brd-55 {
//   border-radius: get-vw(20px, 55px);
// }

.brd-155 {
  border-radius: 0 get-vw(40px, 155px) 0 get-vw(40px, 155px);
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.img-overlay {
  background: no-repeat center / cover;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $secondary;
    opacity: 0.85;
  }
  > * {
    position: relative;
    z-index: 1;
  }
}

.img-cover {
  position: relative;
  padding-bottom: 100%;
  :is(img, video) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.box {
  height: 100%;
  border-radius: get-vw(25px, 65px);
  background: $white;
  overflow: hidden;
  box-shadow: 0 0 35px rgba($black, 0.08);
  .img {
    overflow: hidden;
    padding-bottom: 78.574%;
    border-radius: get-vw(25px, 65px);
    img {
      width: 100%;
    }
  }
  &.team {
    padding: get-vw(15px, 30px);
    .info {
      padding: get-vw(20px, 40px) 5px 0;
      h3 {
        padding-bottom: 21px;
        letter-spacing: -1px;
      }
      .btn-wrap {
        padding-top: get-vw(15px, 30px);
        .btn {
          min-width: 270px;
        }
      }
    }
  }
  &.blog-box {
    padding: 15px 15px 30px;
    border-radius: get-vw(25px, 56px);
    .img {
      padding-bottom: 75%;
      border-radius: get-vw(25px, 56px);
    }
    .info {
      padding: get-vw(20px, 30px) 15px 0;
      h3 {
        color: $secondary;
        padding-bottom: 16px;
        letter-spacing: -0.6px;
        a {
          color: currentColor;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $primary;
          }
        }
      }
      p {
        color: $secondary;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .btn-wrap {
        padding-top: 14px;
      }
    }
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: get-vw(8px, 15px);
  .swiper-pagination-bullet {
    width: get-vw(18px, 23px);
    height: get-vw(18px, 23px);
    border-radius: 100%;
    border: 4px solid transparent;
    background: $dark-light;
    opacity: 1;
    margin: 0 !important;
    &.swiper-pagination-bullet-active {
      border-color: $primary;
      background: transparent;
    }
  }
}
